/* SFONDO*/

body {
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Roboto", sans-serif;
}

/* CONTENITORE CON TRASPARENZA */

.container {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  margin: auto;
  width: 65%;
  border: 3px;
  padding: 100px;
}

/* INTESTAZIONE */

.logo {
  width: 200px;
  margin: auto;
  position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 25px;
  display: inline-block;
  color: #00dd00;
  position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

/* BARRA DI NAVIGAZIONE */

.nav-bar {
  background-color: #00dd00;
  padding: 8px;
  position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar button {
  margin: 0.1em;
}

/* SCHEDE MONOPATTINI */

.scooter {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1.8em;
}
.scooter-name {
  margin: 0;
}

.scooter-position::before {
  content: "\21A6";
}

.charge-bar {
  height: 25px;
  width: attr(data-value);
  background-color: gray;
  border-radius: 3px;
}

.charge-bar.yellow {
  background-color:  #f5b453;
}

.charge-bar.green {
  background-color: #1ec31e;
}

.charge-bar.red {
  background-color: #be4141;
}
